# THIS FILE IS USED FOR EXTERNAL CONFIGURATION AND EXTERNAL DEPLOYMENT OF MULTIPLAYER DESMOS DOCKER DEV PROFILE
# THIS FILE IS USED WHEN FASTAPI IS INVOKED OUTSIDE OF DOCKER

POSTGRES_HOSTNAME="localhost"
POSTGRES_PORT="5432"
POSTGRES_DATABASE="desmos"
POSTGRES_USERNAME="desmos"
POSTGRES_PASSWORD="desmos"

REDIS_HOSTNAME="localhost"
REDIS_PORT="6379"
REDIS_DATABASE="0"
REDIS_USERNAME="desmos"
REDIS_PASSWORD="desmos"

API_HOSTNAME="api"
API_PORT="8000"
