# THIS FILE IS USED FOR DOCKER CONFIGURATION AND INTERNAL DEPLOYMENT OF MULTIPLAYER DESMOS DOCKER PROD PROFILE
# THIS FILE IS USED WHEN FASTAPI IS INVOKED INSIDE OF DOCKER

POSTGRES_HOSTNAME="postgres"
POSTGRES_PORT="5432"
POSTGRES_DATABASE="desmos" # TODO: make this dynamic
POSTGRES_USERNAME="desmos" # TODO: make this dynamic
POSTGRES_PASSWORD="desmos" # TODO: make this dynamic

REDIS_HOSTNAME="redis"
REDIS_PORT="6379"
REDIS_DATABASE="0"
REDIS_USERNAME="desmos"
REDIS_PASSWORD="desmos"

API_HOSTNAME="api"
API_PORT="8000"

IS_DOCKER="true"
